:root {
  --primary-color: dimgray;
  --background-cell: #ddd;
  --edit-color: #0d6efd;
  --delete-color: red;
}

a {
  color: var(--edit-color);
  text-decoration: none;
  margin-right: 0.625rem;
}

header {
  padding: 10px 0 10px 5px;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 600;

  padding-left: 1rem;
}

header,
.row {
  display: flex;
}

section {
  margin-top: 25px;
}

.col {
  flex: 1;
}

.row {
  background-color: var(--background-cell);
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.App {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 10px auto;
}

.title {
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: #fff;
  background-color: var(--primary-color);
}

.subtitle {
  padding-left: 1rem;
}

/*===========================*/
/* Buttons
/*===========================*/

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-danger {
  color: #fff;
  background-color: #c82333;
  border-color: #dc3545;
}

/*===========================*/
/* Auxiliars
/*===========================*/
.text-center,
.centered {
  text-align: center;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mx-3 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mr-3 {
  margin-right: 1rem;
}

/*===========================*/
/* Modal 
/*===========================*/
.modal-content {
  width: 80%;
  margin: 20px auto;
  background-color: #ccc;
}
.modal-header {
  color: #fff;
  text-align: center;
  padding: 5px;
  background-color: var(--primary-color);
}

.modal-header h2 {
  margin: 0;
}

.modal-body {
  padding: 15px 15px;
  font-size: 1.25rem;
}

.label-form {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
}

.bg-white {
  background-color: white;
}
